{% extends "layout.html" %}
{% block content %}
    <div class="container text-center bg-light">
        <div class="row">
            <div class="col-6">
                What I am about
            </div>
            <div class="col">
                How it all started
            </div>
        </div>
        <div class="row">
            <!-- What I am about-->
            <div class="col-6">
                I love Open Soruce and linux. I have created my own open projects
                and used linux a lot over the years. 
            </div>
            <!-- How it all started-->
            <div class="col">
                It all started when I was very young I use to sit on my grandfathers lap while he created CNC milling blueprints. I also took tech in middle school and highschool.
                I compiled my first Linux OS at the age of 15. 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">

            </div>
            <div class="col-6">
                What I am trying to do now.
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <!-- what I am trying to do now.-->
            <div class="col-6">
                I am mostly trying to learn gamedev, and to start creating my own indie titles.
                <br>
                This has been a challege like no other, since I don't want to use unity or Unreal. Open Soruce is just now breaking into gamedev. :(
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}