{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<!--
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='meg.jpg')}}" class="d-block w-100" alt="1">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='62.jpg')}}" class="d-block w-100" alt="2">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='74.jpg')}}" class="d-block w-100" alt="3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<div class="card">
    <div class="card-header">
      We will be right back!!
    </div>
    <div class="card-body">
      <h5 class="card-title">We are just making our site better!!</h5>
      <p class="card-text">Adding more features, divs, and things to click on!!</p>
      <a href="https://linktr.ee/ryeflush" class="btn btn-primary">checkout my links!!</a>
    </div>
  </div>
{% endblock %}