<!doctype html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %}Flush</title>
        <meta name="description" content="This is the place to get flush news!!">
        <meta name="keywords" content="ryeflush flush indie dev gamedev">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="dark">
        <div class="p-5 bg-primay text-white text-center fixed-top">
            <h1>Ryeflush</h1>
            <p>Developer, Blogger, Content Creator, and Friend.</p>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Ryeflush</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                      <a class="nav-link" href="games">Games</a>
                      <a class="nav-link" href="about">About</a>
                      <a class="nav-link" href="blog">Blog</a>
                    </div>
                  </div>
                </div>
              </nav> 
        </div>

        <!-- Adding bootstrap darkmode and normal bs just incase-->
        <script>
            if (window.matchMedia("(prefers-color-scheme: dark)").media === "not all") {
              document.documentElement.style.display = "none";
              document.head.insertAdjacentHTML(
                "beforeend",
                "<link id=\"css\" rel=\"stylesheet\" href=\"../dist/css/bootstrap.css\" onload=\"document.documentElement.style.display = ''\">"
              );
            }
          </script>
          <!-- Load the alternate CSS first ...
               in this case the Bootstrap-Dark Variant CSS -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css" rel="stylesheet" media="(prefers-color-scheme: dark)">
          <!-- and then the primary CSS last ...
               in this case the (original) Bootstrap Variant CSS -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap.min.css" rel="stylesheet" media="(prefers-color-scheme: light)">
    </head>
    <body>          
            {% block content %}{% endblock %}
            <div class="mt-5 p-4 text-center" id="footer">
                {% block footer %}
                &copy; Copyright 2019-2023 by <a href="https://ko-fi.com/flush">Flush</a>
            </div>
            <div class="col-auto" id="footer">
              <br>
              <button type="button" class="btn btn-outline-secondary"><a href="/gpg">GPGKey</a></button>
            </div>
            {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>